@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700'); 
 
body {
	font-family: 'Montserrat', sans-serif;
	background: #ecf0f1;
	max-width: 100vw;
}

/***********************************************HEADER STYLES********************************************/
header {
	text-align: center;
}
header h1 {
	font-size: 64px;
	font-weight: 300;
	margin: 80px 0 25px;
	color: #2c3e50;
}
header h1 span {
	font-weight: 700;
}
header h3 {
	color: #bdc3c7;
	font-weight:300;
}
/****************************************FORM STYLES********************************************/

.form {
	width: 800px;
	margin: 50px auto 20px;
}

input {
	width: 100%;
	height: 60px;
	background: none;
	border: none;
	border-bottom: 1px solid #34495e;
	outline: none;
	padding: 20px 0;
	color: #34495e;
	text-align: center;
	font-size: 28px !important;
}

.form h3 {
	text-align: center;
	line-height: 50px;
	font-size: 34px;
	margin: 40px 0 20px 0;
}

/************************************************EVENT STYLES****************************************/
.event-text{
    text-align: center;
    border: 2px solid #fff;
    box-shadow: 2.2px 4px #D8D8D8;
    border-radius: 25px;
    margin: 50px auto 25px auto;
    max-width: 300px !important;
}
.event-title{
    font-size: 28px;
    font-weight: 700;
    margin: 25px 0 10px;
}
.event-image {
    margin: 20px auto;
    width: 100% !important;
}
.delete {
    margin-bottom: 15px;
}

/********************************************* Imgur Upload Style *****************************************/

.loading .loading-modal {
    display: block
}

.dropzone {
    border: 4px dashed #ccc;
    height: 200px;
    position: relative;
    margin: 20px auto;
    max-width: 50%;
}

.dropzone:hover {
	cursor: pointer;
}

.input:hover {
	cursor: pointer;
}

.info {
    margin-top: 11%;
}

.dropzone p {
    margin: 0%;
    text-align: center;
    width: 100%
}

.input {
    height: 100%;
    left: 0;
    outline: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.status {
    border-radius: 5px;
    text-align: center;
    width: 50%;
    margin: 20px auto;
}

.dropzone.dropzone-dragging {
    border-color: #000
}

.loading-modal {
    background-color: rgba(255, 255, 255, .8);
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.loading-table {
    margin: 15% auto;
}

.img {
    width: 100%;
}

/* Mobile view */
@media screen and (min-width: 300px) and (max-width: 700px) {
	
	.dropzone {
	    max-width: 80%;
	}
	
	.info {
	    margin-top: 30%;
	}
	
	.status {
	    width: 80%;
	}
	
	.loading-table {
	    margin: 50% auto;
	}
}

.none {
	display: none;
}

/*********************************************************SUBMIT BUTTON********************************************/

button.btnSubmit {
  outline: none;
  border: none;
  cursor: default;
  transition: box-shadow 300ms ease;
  letter-spacing: 2px;
  box-shadow: 0px 0px 25px 10px rgba(255, 255, 255, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  box-sizing: border-box;
  width: 175px;
  height: 50px;
  border-radius: 35px;
  border: 2px solid;
  border-color: #1ECD97;
  background: none;
  color: #1ECD97;
  transition: all 300ms ease-out;
  display: block;
  margin: 0 auto;
}
button.btnSubmit:hover {
  cursor: pointer;
  font-size: 1.05em;
  border-color: transparent;
  background: #1ECD97;
  color: #fafafa;
}
button.btnSubmit.clicked {
  pointer-events: none;
  -webkit-animation: anim1 200ms cubic-bezier(0.2, 0, 0.8, 1), anim2 300ms cubic-bezier(0.6, 0, 0.7, 1) 300ms 1 forwards;
          animation: anim1 200ms cubic-bezier(0.2, 0, 0.8, 1), anim2 300ms cubic-bezier(0.6, 0, 0.7, 1) 300ms 1 forwards;
}
button.btnSubmit.clicked.done {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  background: #1ECD97;
  background: linear-gradient(0, #1ECD97, #25dfa6);
  border-width: 0;
  border-color: rgba(30, 205, 151, 0);
  color: rgba(30, 205, 151, 0);
  transition: all 1000ms ease;
  -webkit-animation: anim4 300ms cubic-bezier(0.2, 0, 0.4, 1) forwards;
          animation: anim4 300ms cubic-bezier(0.2, 0, 0.4, 1) forwards;
}

svg.svg--template {
  display: none;
}

svg.loader {
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: visible;
}

svg.loader {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 50px;
  height: 50px;
}
svg.checkmark {
  height: 1.2em;
  width: 100%;
}
svg .circle1 {
  stroke: #1ECD97;
  stroke-width: 3px;
  r: 23.5px;
  cx: 25px;
  cy: 25px;
  width: 100%;
  height: 100%;
  stroke-dasharray: 157px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: animLoading 2500ms cubic-bezier(0.6, 0, 0, 1);
          animation: animLoading 2500ms cubic-bezier(0.6, 0, 0, 1);
}
svg .checkmark1 {
  fill: #fafafa;
}
svg .checkmark1 .line1 {
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
svg .checkmark1 .line2 {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}
svg .checkmark1 .line1, svg .checkmark1 .line2 {
  -webkit-animation: growAndRotate 500ms cubic-bezier(0.4, 0, 0, 1);
          animation: growAndRotate 500ms cubic-bezier(0.4, 0, 0, 1);
}

@-webkit-keyframes anim1 {
  0% {
    font-size: 1.05em;
  }
  50% {
    font-size: 0.9em;
  }
  100% {
    font-size: 1.05em;
  }
}

@keyframes anim1 {
  0% {
    font-size: 1.05em;
  }
  50% {
    font-size: 0.9em;
  }
  100% {
    font-size: 1.05em;
  }
}
@-webkit-keyframes anim2 {
  40% {
    border-radius: 35px;
  }
  20%, 100% {
    color: rgba(30, 205, 151, 0);
  }
  100% {
    background: none;
    border-width: 2px;
    border-color: #C5C5C5;
    border-radius: 50%;
    padding: 0;
    width: 50px;
  }
}
@keyframes anim2 {
  40% {
    border-radius: 35px;
  }
  20%, 100% {
    color: rgba(30, 205, 151, 0);
  }
  100% {
    background: none;
    border-width: 2px;
    border-color: #C5C5C5;
    border-radius: 50%;
    padding: 0;
    width: 50px;
  }
}
@-webkit-keyframes animLoading {
  0% {
    stroke-dashoffset: 157px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes animLoading {
  0% {
    stroke-dashoffset: 157px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes anim4 {
  0% {
    border-radius: 50%;
    width: 50px;
  }
  40% {
    border-radius: 35px;
  }
  100% {
    width: 175px;
  }
}
@keyframes anim4 {
  0% {
    border-radius: 50%;
    width: 50px;
  }
  40% {
    border-radius: 35px;
  }
  100% {
    width: 175px;
  }
}
@-webkit-keyframes growAndRotate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.4) rotate(-5deg);
            transform: scale(0.4) rotate(-5deg);
  }
  30%, 100% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
}
@keyframes growAndRotate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.4) rotate(-5deg);
            transform: scale(0.4) rotate(-5deg);
  }
  30%, 100% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
}

.btnSubmit:focus {
	outline: none;
}
