.nav {
    display: table;
    margin: 0 auto;
}

#navbar {
    height: 60px;
    margin: 10px 10px 0 10px;
    width: 100vw;
    padding: 0;
    background: #222;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

#navbar li {
    position: relative;
    line-height: 60px;
    background: inherit;
    transition: all .2s;
    display: inline;
}

#navbar li a {
    position: relative;
    padding: 0 20px;
    line-height: inherit;
    color: white;
    text-decoration: none;
}

#navbar li a:hover {
    cursor: pointer;
}